.item{
    overflow: hidden;
}
.item img {
    width: 100%;
    transition: all .2s ease-in-out;
    
}
.item img:hover{
    transform: scale(1.1);
}

.item p {
    margin: 15px 0;
}

.item-price {
    display: flex;
    gap: 30px;
}

.item-new-price {
    font-weight: bold;
}

.item-old-price {
    text-decoration: line-through;
}