.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-logo p{
    font-size: 30px;
    font-weight: bold;
}

.footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px 0;
}

.footer-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}