.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logo{
    text-align: center;
}

.footer-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}